<!doctype html>
<!--[if lt IE 9 ]> <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]> ><! <![endif]-->
<html class="no-js" lang='en'>
<!-- <![endif] -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#fff">

    <link rel="stylesheet" href="css/main.css" />    
    <!--[if lt IE 9]>
        <script src="css/html5shiv.js"></script>
    <![endif]-->

</head>
<body>

    {{> SiteHeader }}

    {{> body }}

    {{> SiteFooter }}

    <script src="js/main.js"></script>
    {{#if dev}}
      <script src="//localhost:35729/livereload.js"></script>
    {{/if}}

</body>
</html>